<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /tid102/g2
    RewriteRule ^tid102/g2/index\.html$ - [L]
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule . /tid102/g2/index.html [L]

    
</IfModule>