@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100..900&display=swap');
.noto-sans-tc-regular {
font-family: "Noto Sans TC", sans-serif;
font-optical-sizing: auto;
font-weight: 400;
font-style: normal;
}


h1{font-size: 32px;}
h2{font-size: 28px;}
h3{font-size: 18px;}
h4{font-size: 16px;}
h5{font-size: 14px;}
h6{font-size: 16px;}
 p{font-size: 14px;}

a{
    text-decoration: none;
}

h1,h2,h3,h4,h5,h6,p{
    font-family:'Noto Sans TC';
    color: #855F49;
    font-weight: bold;
    text-align: center;
    line-height: 150%;
}

.template{
    background-image: url(../ms/ms_bgi.jpg);
    display: flex;
    padding: 150px 200px;
    flex-direction: column;
    align-items: center;
    gap: 100px;
}

.top{
    display: flex;
    flex-direction: column;
    gap: 50px;

}
main{
    display: flex;
    flex-direction: column;
    gap: 60px;
}
.options{
    box-sizing: border-box;
    margin: 0 auto;
    width: 40vw;
    display: flex;
    padding:15px 20px  ;
    background: transparent;
    justify-content: flex-end;
    align-items: center;
    border-radius: 40px;
    border: 2px solid #855F49;
}
.selection{
    width: auto;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.selections{
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 40px;
}