// header.scss
@import 'variables';

.header {
  height: $header-height;
  color: $font-color;
  z-index: $header-index;

  .logo img {
    width: $logo-size;
  }

  nav ul li a {
    color: $font-color;
  }

  &.shop-header {
    background-color: $primary-color;
  }

  &.activity-header {
    background-color: $secondary-color;
  }
}